
#usMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;  
  
}
#choroplethMap {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  margin: 20px;
  background-color: silver;
}
.county:hover {
  stroke: #000;
  stroke-width: 2px;
}
.states {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
}

.tooltip {
  position: absolute;
  border: solid 1px;
  border-radius: 5px;
  background-color: lightgreen;
  width: 250px;
  text-align: center;
  padding: 5px;
}
